.top{
	position: fixed;
	top:0;
	left: 0;
	z-index:999;
	width: 100%;
	height: 1.4rem;
	background: #ff6e00;
	padding: 0.7rem 0.24rem 0.28rem 0.24rem;

}
.top-module{
	display: flex;
	justify-content: space-between;
}
.top-module .back,.top-module .share{
	color: #fff;
}
.top-module .text h2{
	text-align: center;
	font-size: 0.32rem;
	color: #fff;
	
}
.top-module .text h2.details-text{
	margin-top: -0.06rem;
}
.top-module .text h2.eng{
	margin-top: -0.3rem;
	opacity: 0.6;
	filter:alpha(opacity=60);
}






main{
	margin-top: 1.2rem;
	margin-bottom: 1.6rem;
	height: 100%;
	width: 7.5rem;
	padding-right: 0.2rem;
	padding-left: 0.2rem;
	padding-top: 0.2rem; 
}
main ul{
	height: 5.1rem;
	width: 100%;
	padding-top: 0.48rem;
}
main .box{
	height: 0.63rem;
	width: 100%;
}
main .box h1{
	font-size: 0.24rem;
	color:#FF6D01;
	text-align: left;   
}
main .box .kuai{
	background-color:red;
	height: 0.06rem;
	width: 0.02rem;
	margin: 0 0.08rem;
	display: inline-block;
}
main .box h2{
	font-size: 0.3rem;
	color: #FF6D00;
	text-align: left;
}
main .box1{
	width: 7.1rem;
	height: 4rem;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding-top: 0.7rem;
	
}	
main .box1 li{
	box-shadow:0.02rem 0.02rem 0.1rem 0.02rem rgba(243,219,108, 0.3);
	width:2.46rem;
	height: 2.94rem;
	border-radius: 0.1rem;
	margin-right: 0.12rem;
	padding-top: 1.32rem;
	position: relative;

}
main .box1 li h1{
	font-size: 0.28rem;
	width: 1.5rem;
	color: #000;
	text-align: center;
	border-bottom: 1px dotted rgba(0, 0, 0, 0.4);
	margin: 0 auto;
}
main .box1 li h2{
	font-size: 0.22rem;
	color: rgba(0, 0, 0, 0.8);
	text-align: center;
	margin-top: 0.1rem;
}
main .box1 li h3{
	font-size: 0.2rem;
	color: red;
	text-align: center;
	margin-top: 0.1rem;
	/* font-weight: 500; */
}
main .box1 li h4{
	font-size: 0.2rem;
	color: red;
	text-align: center;
	margin-top: 0.1rem;
	/* font-weight: 500; */
}
main .box1 li img{
	width: 1.7rem;
	height:1.5rem;
	position: absolute;
	left: 0.28rem;
	top: -0.35rem;
}
main ol li{
	width: 100%;
	height: 1.37rem;
	margin-bottom: 0.2rem;
	border-radius: 0.1rem;
	box-shadow:0.02rem 0.02rem 0.1rem 0.02rem rgba(243,219,108,0.8);
	margin-top: 0.2rem;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
main ol li .left{
	width: 1.41rem;
	height: 1.34rem;
}
main ol li .right{
	width: 1.69rem;
	height: 1.18rem;
	margin-left: 1.2rem;
	margin-top: 0.15rem;
}
main ol li .list{
	display: inline-block;
	height: 100%;
	margin-left: 0.3rem;
	margin-top: 0.2rem;
}
main ol li .list .one{
	text-align: left;
	font-size: 0.28rem;
	color: #000;
	font-weight: 700;
}
main ol li .list .two{
	text-align: left;
	font-size:0.22rem ;
	color: rgba(0, 0, 0, 0.8);
	font-weight: 600;
}
main ol li .list .three{
	text-align: left;
	font-size:0.18rem ;
	color: #dd5345;
	font-weight: 600;
	margin-top: 0.1rem;
}



.tab{
	position: fixed;
	bottom: 0;
	left: 0;
	background: white;
	width: 100%;
	padding-top: 0.34rem;
 	height: 1.24rem; 
	box-shadow:  0 -0.05rem 0.15rem 0.01rem rgb(255, 232, 136);
}
.tab ul{
	display: flex;
	justify-content: space-around;
}
.tab ul li{
	padding-bottom: 0.2rem;
	text-align: center;
	float: left;
}
.tab ul li span{
	font-size: 0.18rem;
}
.tab ul li span.index
{
	color: #FF6D01;
}
.tab ul li i{
	font-size: 0.4rem;
	display: block;
}
.icon-dingdan{
	color: #FF6D01;
}
.tab ul li i:hover{
	color: #FF6D01;
}